
        <!DOCTYPE html>
 
        <html>
         
        <head>
            <title> </title>
         
            <style>
               
               
               
         
                .firstsection {
                    background-color:cornflowerblue;
                    height: 90px;
                    text-align: center;
                    
                }
         
                
         
         
         
              .form-center {
                    display:flex;
                    justify-content:center;
                    margin-top: 50px;
                    
                    
                }
         
               
         
                .center {
                    text-align: center;
                }
         
               
               
               
            
             body{background-color:mintcream;}
        
            </style>
            </head>
            <body>
        <nav class="navbar background">
                
         
                
                
            </div>
            </nav>
        