<%- include('reg') %>

<div class="firstsection">
 <h1>REGISTERATION</h1>   
</div>
<div class="form-center">
<form method="POST" name="form1" action="/submituser">
    <label >ENTER YOUR LOGID ID</label>
     <input type="text" placeholder="logid" id="logid" name="logid"><br><br>
    
     <label >ENTER YOUR PASSWORD</label>
     <input type="text"placeholder="password" id="password" name="password"><br><br>
        
    
    
    <input type="submit" value="submit">
    
    </form>
    <form method="put" name="form1" action="/updel">
        
    <input type="submit" value="update">
        
        </form>

    </div>